 <div class="readpost-container">
        <div class="readpost-cards">
            <div class="readpost-header">
                <div class="readpost-title" placeholder="Title">title</div>
        </div>
        <div class="readpost-text">hello</div>
        </div>
        <button class="createpost-btn">+ New Post</button>
       </div>