<div class="readpost-cards">
            <div class="readpost-header">
                <div class="readpost-title">title</div>
            </div>
        <div class="readpost-text">hello</div>
        <button class="createpost-btn">Login</button>
        <button class="createpost-btn">Sign Up</button>
        </div>