<div class="signup-form-container">
    <div class="signup-header">Sign Up</div>
    <form>
        <label for="uname">Username:</label><br>
        <input type="text" id="uname" name="uname"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password">
        <button class="submit btn">Sign Up!</button>
</form>
<a href="/views/partials/login.handlebars">Login instead</a>
    </div>