<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<header>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="#" id="logout">Logout</a>
    </nav>
    <a href="/dashboard"><h1 class="jumbotron-dashboard">Dashboard</h1></a>
</header>

<main>
{{{ body }}}
<br></br><br></br>
        <a href="/dashboard/create"><button class="createpost-btn">+ New Post</button></a>
</main>
<footer class="footer">
    Made with ❤️ by Rod Bennett
</footer>
    


<script src="/js/logout.js"></script> 
