<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>
<body>
    <header>
    <nav class="navbar">
        <a href="/">Home</a>
         <a href="/dashboard">Dashboard</a>
        {{#if logged_in}}
        <a href="#" id="logout">Logout</a>
        {{else}}
         <a href="/login">Login</a>
       {{/if}}
    </nav>
    {{#if logged_in}}
    <h1 class="jumbotron">Dashboard</h1>
    {{else}}
    <h1 class="jumbotron">Tech Blog</h1>
    {{/if}}
    </header>
    <main>
        {{!-- <div class="main-container"> --}}
            {{{ body }}}
        {{!-- </div> --}}
    </main>
    <footer class="footer">
    Made with ❤️ by Rod Bennett
</footer>
</body>
</html>

<script src="/js/logout.js"></script>