<form class="create-comment">
        <textarea name="comment" placeholder="Write comment here"></textarea></div>
        <button class="btn comment-button">Submit Comment</button>
       </form>
        <button class="createpost-btn">+ New Post</button>
        </div>