<div class="create-post-container">
    <div class="readpost-cards">
        <header class="readpost-header">
            <h2>Create New Post</h2>
        </header>
        <form class="createpost-form">
        <textarea name="post-title"class="creatpost-title" placeholder="Title">title</textarea>
        <textarea name="post-content"class="createpost-text" placeholder="Write post">hello</textarea>
        <button class="createpost-btn">Post</button>
        </form>
    </div>
</div>


<script src="/js/createpost.js"></script>