 <style>
    .create-comment-container{

    }

    
 </style>
 
 <div class="create-comment-container">
        <form class="readpost-cards">
            <div class="readpost-header">
                <textarea class="readpost-title" placeholder="Title">title</textarea>
        </div>
        <textarea class="readpost-text" placeholder="Write post">hello</textarea>
        </div>
        <button class="createpost-btn">Post</button>
        </form>
       </div>

       <script>"./js/createPost.js"</script>