    <div class="createpost-card">
        <header class="createpost-header">
            <h2 class="createnewpost">Create New Post</h2>
        </header>
        <form class="createpost-form">
        <textarea name="post-title"class="createpost-title" placeholder="Title">title</textarea><br>
        <textarea name="post-text"class="createpost-text" placeholder="Write post">hello</textarea><br>
        <button class="createpost-btn">+ New Post</button>
        </form>
    </div>
</div>

<script src="/js/createpost.js"></script>