<header>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/dashboard">Dashboard</a>
        {{#if logged_in}}
        <a href="#" id="logout">Logout</a>
        {{/if}}
    </nav>
    <h1 class="jumbotron-dashboard">Your Dashboard</h1>
</header>
{{#if logged_in}}
    <div class="createpost-container">
        <form class="form createpost-form">
            <textarea name="posttitle" id="post-title" placeholder="Title"></textarea>
            <textarea name="postcontent" id="post-content" placeholder="Post content"></textarea>
        <button class="createpost-btn">+ New Post</button>
        </form>
       </div>

    {{else}}    
    <a href="/login">Login</a>
    {{/if}}

    <script src="/js/createPost.js"></script> 
