<div class="login-form-container">
    <div class="signup-header">Login Up</div>
    <form>
        <label for="uname">Username:</label><br>
        <input type="text" id="uname" name="uname"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password">
        <button class="submit btn">Login</button>
</form>
<a href="/signup">Sign Up Instead!</a>
    </div>