<div class="login-card">
    <div class="signup-header">Login</div>
    <form class="login-form">
        <label for="username-input">Username:</label><br>
        <input type="text" id="username-login" name="uname"><br>
        <label for="password-input">Password:</label><br>
        <input type="text" id="password-login" name="password">
        <button type="submit" class="submitbtn login-btn">Login</button>
</form>
</div>
<a href="/signup" id="login-href">Sign Up Instead!</a>

<script src="/js/login.js"></script>


