{{#each posts}}

    <div class="readpost-cards"><a href="/dashboard/edit/{{id}}">
        <div class="readpost-header">
            <div class="readpost-title">
                <p>{{post_title}} by me</p>
            </div>
            <div class="readpost-text">
                <p>{{post_content}}</p>
            </div>
        </div>
    </div>
</a>
{{/each}}