{{#each posts}}
<a href="/newpost/{{id}}">
    <div class="readpost-cards">
        <div class="readpost-header">
            <div class="readpost-title">
                <p>{{post_title}}</p>

            </div>
            <div class="readpost-text">
                <p>{{post_content}}</p>
            </div>
        </div>
    </div>
</a>
{{/each}}