<div class="signup-card">
    <div class="signup-header">Sign Up</div>
    <form class="signup-form">
        <label for="uname">Username:</label><br>
        <input type="text" id="username-signup" name="uname"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email-signup" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password-signup" name="password"><br>
        <button class="submitbtn signup-btn">Sign Up!</button>
</form>
    </div>
    <a href="/login" id="login-href">Login instead</a>