* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 1 0;
}

body {
    background-color: rgb(214, 237, 214);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(56, 22, 22);
    color: rgb(188, 220, 188);
    height: 20vh;
}

.navbar { 
    display: flex;
    /* margin: auto; */
    text-align: center;
    justify-content: space-around;
    font-size: larger;
    color:rgb(214, 237, 214);
    padding: 5px;
}
a {
    text-decoration: none; 
    color:rgb(214, 237, 214);
}

.jumbotron {
    background: rgb(214, 237, 214);
    color: rgb(56, 22, 22);
    width: 200px;
    margin: 50px;
    border-radius: 5px;
    text-align: center;
    
}

.jumbotron-dashboard {
    background: rgb(214, 237, 214);
    color: rgb(56, 22, 22);
    width: 300px;
    margin: 20px;
    margin-top: 40px;
    border-radius: 5px;
    text-align: center;
}

main {
    background-color: rgb(214, 237, 214);
    height: 100vh;
}

.signup-card {
    border: 2px solid rgb(56, 22, 22);
    width: 90%;
    margin: auto;
    margin-top: 30px;
    height: 60vh;
}

.signup-form {
    font-size: larger;
    margin-top: 10px;
    padding: 20px;
}
.signup-header{
    background-color: rgb(56, 22, 22);
    font-size: x-large;
    color: rgb(214, 237, 214);
    height: 10vh;
    padding: 15px;
}

.signup-text {
    padding: 20px;
}
.signup-contents{
    margin: 10px 50px;
}

#username-login{
    width: 40%;
    height: 5vh;
}

#username-signup {
    width: 40%;
    height: 5vh;
}

#password-signup{
    width: 40%;
    height: 5vh;
}

#login-href{
    color: blue;
    margin-top: 30px;
    padding: 100px;
    font-size:x-large;
}

.login-btn:hover {
    cursor: pointer;
    color: darkcyan;
}
.login-btn:active {
    box-shadow: 1px 1px 1px 1px;
}

.login-form {
    font-size: larger;
    margin-top: 10px;
    padding: 20px;
}

#password-login {
    width: 40%;
    height: 5vh;
}

.submitbtn {
    width: 80%;
    height: 7vh;
    font-size: larger;
    margin-top: 20px;
    background-color: rgb(56, 22, 22);
    color: rgb(214, 237, 214)
}

.submitbtn:hover {
    cursor: pointer;
    color: darkcyan;
}
.submitbtn:active {
    box-shadow: 1px 1px 1px 1px;
}

.login-card {
    border: 2px solid rgb(56, 22, 22);
    width: 90%;
    margin: auto;
    margin-top: 30px;
    height: 50vh;
}
/* READ SINGLE POST CSS FOR 'READPOST' HANDLEBARS PAGE */
.readpost-cards {
    border: 2px solid rgb(56, 22, 22);
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: 20vh;
    border-radius: 5px;
}

.readpost-cards:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px black;
    color: darkcyan;
}

.readpost-header{
    background-color: rgb(56, 22, 22);
    height: 5vh;
    padding: 0px;
    margin-bottom: 0px;
}

.readpost-title {
    color: rgb(158, 177, 158);
    font-size: larger;
    padding: 0px;
}

.readpost-title:hover {
    color: darkcyan;
}

.readpost-text {
    color: rgb(56, 22, 22);
    padding: 5px;
}

/* CREATE POST HANDLEBARS PAGE */
.createpost-card{
    border: 2px solid rgb(56, 22, 22);
    width: 80%;
    margin: auto;
    margin-top: 30px;
    height: 55vh;
    border-radius: 5px;
}

#editpost-card{
    height: 62vh;
}
.createnewpost {
    padding: 15px;
    margin-top: 0px;
}

.createpost-header{
    /* margin: auto; */
    height: 10vh;
    width: 100%;
    background-color: rgb(56, 22, 22);
    color: rgb(214, 237, 214);
    margin-bottom: 10px;
}

.createpost-title {
    margin: auto;
    width: 100%;
    padding: 10px;
    font-size:xx-large;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.createpost-text{
    width: 100%;
    padding: 10px;
    font-size: x-large;
    margin: auto;
    height: 15vh;
    margin-top: 5px;
    border-radius: 5px;
}
.createpost-btn {
    margin: auto;
    width: 20%;
    height: 5vh;
    font-size: larger;
    background-color: rgb(56, 22, 22);
    color: rgb(214, 237, 214);
    margin-top: 20px;
    margin-left: 0%;
}

#create-btn{
    margin-left: 25%;
    width: 50%;
}

.createpost-btn:hover {
    cursor: pointer;
    color: darkcyan;
}

.createpost-btn:active {
    box-shadow: 1px 1px 1px 1px;
}

.form-label {
    padding: 5px;
    font-size: 1.5rem;
}
#delete-btn {
    margin-top: 10px;
    margin-left: 35%;
    width: 40%;
}

#edit-btn {
    margin-top: 10px;
    margin-left: 35%;
    width: 40%;
}

/* CREATE NEW COMMENT ON READPOST HANDLEBARS PAGE */
.createcomment-card{
    /* background-color: rgb(214, 237, 214);
    border: 2px solid rgb(56, 22, 22); */
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: 15vh;
    border-radius: 5px;
}

#comment-textarea {
    color: black;
    background-color: aliceblue;
    height: 10vh;
    width: 100%;
    font-size: x-large;
}

.create-comment::placeholder {
    color: grey;
}
/* #comment-textarea {
    border: 2px solid rgb(56, 22, 22);
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: 15vh;
    border-radius: 5px;
    font-size: large;
} */

.comment-button {
    margin: auto;
    width: 25%;
    height: 5vh;
    font-size: larger;
    background-color: rgb(56, 22, 22);
    color: rgb(214, 237, 214);
    margin-top: 10px;
    margin-left: 40%;
}

.footer{
    text-align: center;
    position:static;
}



