* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 1 0
}

header {
    background-color: rgb(33, 8, 8);
    color: rgb(214, 237, 214);
    height: 20vh;
}

nav{ 
    display: flex;
    justify-content: space-around;
    font-size: larger;
    color:rgb(214, 237, 214);
}
a {
    text-decoration: none;
    color:rgb(214, 237, 214);
    margin-top: 20px;
    margin-left: 10px;
}
.jumbotron-home {
    background: rgb(214, 237, 214);
    color: rgb(33, 8, 8);
    width: 200px;
    margin: 40px;
    border-radius: 5px;
    text-align: center;

}

.jumbotron-dashboard {
    background: rgb(214, 237, 214);
    color: rgb(33, 8, 8);
    width: 400px;
    margin: 40px;
    border-radius: 5px;
    text-align: center;
}

.main-container {
    background-color: rgb(214, 237, 214);
    height: 100vh;
}

.signup-form-container {
    border: 2px solid rgb(33, 8, 8);
    width: 90%;
    margin: auto;
    margin-top: 30px;
    height: 50vh;

}

.signup-header{
    background-color: rgb(33, 8, 8);
    font-size: larger;
    color: rgb(214, 237, 214);
    height: 10vh;
}

.signup-text {
    padding: 20px;
}
.signup-contents{
    margin: 10px 50px 
}

form {
    font-size: larger;
}

#uname {
    width: 40%;
    height: 5vh;
}
#password {
    width: 40%;
    height: 5vh;
}

.submitbtn {
    width: 80%;
    height: 5vh;
    font-size: large;
    margin-top: 20px;
}

#login {
    color: blue;
    margin: 50px;
    font-size: larger;
}

.login-form-container {
    border: 2px solid rgb(33, 8, 8);
    width: 90%;
    margin: auto;
    margin-top: 30px;
    height: 50vh;
}


.readpost-cards {
    border: 2px solid rgb(33, 8, 8);
    width: 95%;
    margin: auto;
    margin-top: 20px;
    height: 15vh;
    border-radius: 5px;
}

.readpost-header{
    background-color: rgb(33, 8, 8);
    height: 5vh;
}

.readpost-title {
    color: rgb(158, 177, 158);
    font-size: larger;
    padding: 10px;
}

.readpost-text {
    color: rgb(33, 8, 8);
    padding: 10px;
}

.createpost-btn{
    margin: auto;
    width: 25%;
    height: 5vh;
    font-size: larger;
    background-color: rgb(33, 8, 8);
    color: rgb(214, 237, 214);
    margin-top: 10px;
    margin-left: 40%;

}
